geth-clique-linux/devChain/geth/*
geth-clique-linux/devChain/history
geth-clique-windows/devChain/geth/*
geth-clique-windows/devChain/history
geth-clique-mac/devChain/geth/*
geth-clique-mac/devChain/history
parity-poa-linux/parity0/chains/*
parity-poa-mac/parity0/chains/*
parity-poa-windows/parity0/chains/*
pantheon-clique-linux/Clique-Network/Node-1/data/database/*
pantheon-clique-linux/Clique-Network/Node-2/data/database/*
pantheon-clique-linux/Clique-Network/Node-3/data/database/*
pantheon-clique-linux/lib/
pantheon-clique-linux/bin/
pantheon-clique-windows/Clique-Network/Node-1/data/database/*
pantheon-clique-windows/Clique-Network/Node-2/data/database/*
pantheon-clique-windows/Clique-Network/Node-3/data/database/*
pantheon-IBFT-linux/IBFT-Network/Node-1/data/database/*
pantheon-IBFT-linux/IBFT-Network/Node-2/data/database/*
pantheon-IBFT-linux/IBFT-Network/Node-3/data/database/*
pantheon-IBFT-linux/IBFT-Network/Node-1/database/*
pantheon-IBFT-linux/IBFT-Network/Node-2/database/*
pantheon-IBFT-linux/IBFT-Network/Node-3/database/*
pantheon-IBFT-windows/IBFT-Network/Node-1/data/database/*
pantheon-IBFT-windows/IBFT-Network/Node-2/data/database/*
pantheon-IBFT-windows/IBFT-Network/Node-3/data/database/*
pantheon-IBFT-linux/PegaSys*
pantheon-IBFT-linux/pantheon*
pantheon-IBFT-linux/bin/
pantheon-IBFT-linux/lib/
